#page-header{
    background-image: url("img/about/banner1.jpg");
width: 100%;
height: 40vh;
background-size: cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
}
#contact-details {
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
#navbar{
    display:flex;
    align-items: stretch;
    justify-content: right;
    gap: 10px;

}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
font-size: 16px;
padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 400px;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-right: 15px;;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

#newsletters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner 7.jpeg");
    background-repeat: no-repeat;
    background-position: 100px 400px;
    background-color: #041e42;
    }
#newsletters h4{
    font-size: 22px;    
    font-weight: 700;
    color: #fff;
    }
    #newsletters p{
    font-size: 14px;
    font-weight: 600;
    color: lightblue;
    }
    #newsletters p span{
    color: yellow;
    }
    #newsletters .form{
    display: flex;
    width: 40%;
    }
#newsletters input{
    height: 3.125rem;
    padding: 0 20px;
    font-size:15px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 3px;
    outline: none;
    border-top-right-radius:0; border-bottom-right-radius: 0;
    }
    #newsletters button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
    }
    footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    footer .col{
    display: flex;
    flex-direction : column; align-items: flex-start;
    margin-bottom: 20px;
    }
    footer .follow i:hover,
footer a:hover{
color:#088178; }
footer .logo{ margin-left: 30px;
}
footer h4{
font-size: 14px; padding-bottom: 20px;
}
footer p{ font-size: 13px; margin:8px 0;
}
footer a{
font-size : 13px; 
text-decoration : none;
 color:#222;
  margin:10px;
footer .follow{
margin-top: 20px;
}
footer .follow i{
color: #465b52; padding: 4px; }
cursor: pointer
}